<mat-toolbar color="primary">
  <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Angular 🤝 Flutter</span>
  <span class="toolbar-spacer"></span>
  <mat-icon aria-hidden="true">flutter_dash</mat-icon>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
  <mat-sidenav #drawer mode="side" [opened]="false" class="sidenav">
    <mat-nav-list autosize>
      <section>
        <h2>Effects</h2>
        <div class="button-list">
          <button
            class="mb-control"
            mat-stroked-button
            color="primary"
            (click)="container.classList.toggle('fx-shadow')"
          >
            Shadow
          </button>
          <button
            class="mb-control"
            mat-stroked-button
            color="primary"
            (click)="container.classList.toggle('fx-mirror')"
          >
            Mirror
          </button>
          <button
            class="mb-control"
            mat-stroked-button
            color="primary"
            (click)="container.classList.toggle('fx-resize')"
          >
            Resize
          </button>
          <button
            class="mb-control"
            mat-stroked-button
            color="primary"
            (click)="container.classList.toggle('fx-spin')"
          >
            Spin
          </button>
        </div>
      </section>

      <section>
        <h2>JS Interop</h2>
        <mat-form-field appearance="outline">
          <mat-label>Screen</mat-label>
          <mat-select
            (valueChange)="this.flutterState?.setScreen($event)"
            [value]="this.flutterState?.getScreen()"
          >
            <mat-option value="counter">Counter</mat-option>
            <mat-option value="text">TextField</mat-option>
            <mat-option value="dash">Custom App</mat-option>
          </mat-select>
        </mat-form-field>
        @if (this.flutterState?.getScreen() === 'counter') {
        <mat-form-field appearance="outline">
          <mat-label>Clicks</mat-label>
          <input
            type="number"
            matInput
            (input)="onCounterSet($event)"
            [value]="this.flutterState?.getClicks()"
          />
        </mat-form-field>
        } @else {
        <mat-form-field appearance="outline">
          <mat-label>Text</mat-label>
          <input
            type="text"
            matInput
            (input)="onTextSet($event)"
            [value]="this.flutterState?.getText()"
          />
          @if (this.flutterState?.getText()) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.flutterState?.setText('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        }
      </section>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="flutter-app" #container>
      <ng-flutter
        src="flutter/main.dart.js"
        assetBase="/flutter/"
        (appLoaded)="onFlutterAppLoaded($event)"
      ></ng-flutter>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
